Dear $customer sir,

      Hello $customer sir i am providing my demo mail using email service. I hope this find you to helpful for you.
      you can use it as free source code https://github.com/rangaAmritya .


Thanks & Regards,
Amritya Ranga