Dear $hrName,

I hope this message finds you well.

I am writing to express my interest in the "$jobTitle" position at your esteemed organization, as advertised. With a background in Java, Spring Boot, and Microservices with 2.7 years of experience, I believe my skills and passion align well with the requirements of this role.

Please find my resume attached for your review.

I would be grateful for the opportunity to discuss my application further. Kindly let me know if any additional information is needed.

Looking forward to your response.

Best regards,
Amritya Ranga
+918000162957

